.origin {
  position: relative;
}
.start-point {
  display: flex;
  align-items: center;
  height: 36px;
}
/* .line {
  width: 120px;
  height: 2px;
  animation: lineExpand 0.6s none;
  border-radius: 10px;
  margin: 2px;
  opacity: 0.5;
} */

.arrow {
  /* margin-left: -8px; */
  margin-top: -1px;
  font-size: 20px;
  margin-left: -10px;
}
.origin-text {
  margin-left: -30px;
  margin-right: 88px;
  font-weight: 500;
}
.destination-text {
  font-weight: 500;
}
.trip-box {
  flex-wrap: wrap;
  width: auto;
  gap: 1rem;
  margin-top: 90px;
  /* padding: 10rem 0rem; */
}
.trip {
  margin: 0;
  height: 50px;
  padding-top: 10rem;
}
.trip::after {
  content: "";
  margin-right: -34px;
}
.initial {
  color: #595fab;
}
.continued {
  color: #0381eb;
}
.sameContinued {
  color: #6c7073;
}
.notContinued {
  color: orange;
}
.initialLine {
  background: #595fab;
  width: 150px;
  height: 2px;
  animation: lineExpand 0.6s none;
  border-radius: 10px;
  margin: 2px;
  opacity: 0.5;
}
.continuedLine {
  background: #0381eb;
  width: 150px;
  height: 2px;
  animation: lineExpand 0.6s none;
  border-radius: 10px;
  margin: 2px;
  opacity: 0.5;
}

.sameContinuedLine {
  background: #6c7073;
  width: 150px;
  height: 2px;
  animation: lineExpand 0.6s none;
  border-radius: 10px;
  margin: 2px;
  opacity: 0.5;
}
.notContinuedLine {
  background: orange;
  width: 150px;
  height: 2px;
  animation: lineExpand 0.6s none;
  border-radius: 10px;
  margin: 2px;
  opacity: 0.5;
}

@keyframes lineExpand {
  0% {
    width: 0px;
  }
  100% {
    width: 130px;
  }
}
.alert {
  position: absolute;
  top: 10px;
  right: 10px;
}
.waveLineInitial {
  width: 130px;
  height: 109px;
  animation: lineExpand 0.6s none;
}

.waveLineInitial path {
  stroke: #595fab;
  stroke-width: 2;
  fill: none;
  opacity: 0.5;
}
.waveLineInitial line {
  stroke: #595fab;
  stroke-width: 2;
  fill: none;
  opacity: 0.5;
}
.waveLineContinued {
  width: 130px;
  height: 109px;
  animation: lineExpand 0.6s none;
}
.waveLineContinued path {
  stroke: #0381eb;
  stroke-width: 2;
  fill: none;
  opacity: 0.5;
}
.waveLineContinued line {
  stroke: #0381eb;
  stroke-width: 2;
  fill: none;
  opacity: 0.5;
}

.waveLineSameContinued {
  width: 130px;
  height: 109px;
  animation: lineExpand 0.6s none;
}
.waveLineSameContinued path {
  stroke: #6c7073;
  stroke-width: 2;
  fill: none;
  opacity: 0.5;
}
.waveLineSameContinued line {
  stroke: #6c7073;
  stroke-width: 2;
  fill: none;
  opacity: 0.5;
}
.waveLineNotContinued {
  width: 130px;
  height: 109px;
  animation: lineExpand 0.6s none;
}
.waveLineNotContinued path {
  stroke: orange;
  stroke-width: 2;
  fill: none;
  opacity: 0.5;
}
.waveLineNotContinued line {
  stroke: orange;
  stroke-width: 2;
  fill: none;
  opacity: 0.5;
}
input,
button {
  z-index: 1;
}
