<section>
  <div class="container-fluid">
    <div class="bg-light p-2">
      <h1 class="text-center p-2">Trips</h1>
      <div
        class="alert alert-warning alert-dismissible fade show"
        role="alert"
        *ngIf="showMessage"
      >
        <strong>Sorry!</strong> Please enter Starting and Ending points below.
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <form
        class="form-group"
        [formGroup]="tripForm"
        (ngSubmit)="addTrip(tripForm.value)"
      >
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-4 col-md-6 col-xl-2">
            <label for="">Starting Point</label>
            <input
              type="text"
              class="form-control"
              placeholder="Please enter starting point"
              formControlName="start_point"
            />
          </div>
          <div class="col-lg-4 col-md-6 col-xl-2">
            <label for="">Ending Point</label>
            <input
              type="text"
              class="form-control"
              placeholder="Please enter ending point"
              formControlName="end_point"
            />
          </div>
          <div class="col-lg-2 col-md-12 col-xl-1">
            <button class="btn btn-primary mt-4 d-block" type="submit">
              Add Trip
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="trip-box d-flex justify-content-center">
      <div
        *ngFor="let item of tripsArr; let i = index"
        class="d-flex align-items-center trip"
        [ngStyle]="{ marginTop: item.marginTop }"
      >
        <div class="origin">
          <div class="start-point">
            <!-- DOT -->
            <i
              class="bi bi-circle-fill start"
              [ngClass]="{
                initial: item.tripType === 'initial',
                continued: item.tripType === 'continued',
                sameContinued: item.tripType === 'sameContinued',
                notContinued: item.tripType === 'notContinued'
              }"
              style="font-size: 18px"
              [ngStyle]="{
                marginTop: (item.tripType === 'continued' && item.line === 'curvedDown') ? '-160px' : '0',
              }"
            ></i>
            <!-- LINE -->
            <svg
              [ngClass]="{
              initial: item.tripType === 'initial',
              continued: item.tripType === 'continued',
              sameContinued: item.tripType === 'sameContinued',
              notContinued: item.tripType === 'notContinued',
              waveLineInitial: item.tripType === 'initial',
              waveLineContinued: item.tripType === 'continued',
              waveLineSameContinued: item.tripType === 'sameContinued',
              waveLineNotContinued: item.tripType === 'notContinued',
            
            }"
              [ngStyle]="{
                marginTop: item.line === 'straight' ? '0' : '-90px'
              }"
              viewBox="0 0 130 109"
              xmlns="http://www.w3.org/2000/svg"
            >
              <line
                x1="0"
                y1="54"
                x2="250"
                y2="54"
                *ngIf="item.line === 'straight'"
              />
              <path
                d="M0,100 C60,100 50,0 180,40"
                *ngIf="item.line === 'curvedUp'"
              ></path>
              <path
                d="M0,20 C100,20 60,120 160,100"
                *ngIf="item.line === 'curvedDown'"
              />
            </svg>
            <!-- <div
              [ngClass]="{
                initial: item.tripType === 'initial',
                continued: item.tripType === 'continued',
                sameContinued: item.tripType === 'sameContinued',
                notContinued: item.tripType === 'notContinued',
                initialLine: item.tripType === 'initial',
                continuedLine: item.tripType === 'continued',
                sameContinuedLine: item.tripType === 'sameContinued',

                notContinuedLine: item.tripType === 'notContinued',
              }"
            ></div> -->
            <!-- DOT -->
            <i
              class="bi bi-circle start"
              [ngClass]="{
                initial: item.tripType === 'initial',
                continued: item.tripType === 'continued',
                sameContinued: item.tripType === 'sameContinued',
                notContinued: item.tripType === 'notContinued'
              }"
              [ngStyle]="{
                marginTop: item.line === 'straight' ? '0' : '-136px',
                display: item.tripType === 'continued' ? 'none' : ''
              }"
              style="font-size: 18px"
            ></i>
            <!-- ARROW -->
            <i
              *ngIf="item.tripType === 'continued'"
              class="bi bi-caret-right-fill arrow"
              [ngClass]="{
              continued: item.tripType === 'continued',
            }"
            ></i>
          </div>
          <div class="d-flex">
            <div
              class="origin-text"
              [ngClass]="{
                initial: item.tripType === 'initial',
                continued: item.tripType === 'continued',
                sameContinued: item.tripType === 'sameContinued',
                notContinued: item.tripType === 'notContinued'
              }"
              [ngStyle]="{
              marginTop: (item.tripType === 'continued' && item.line === 'curvedDown') ? '-136px' : '0',
            }"
            >
              {{ item.origin.sub }} - {{ item.destination.sub }}
            </div>
            <div
              class="destination-text"
              [ngClass]="{
                initial: item.tripType === 'initial',
                continued: item.tripType === 'continued',
                sameContinued: item.tripType === 'sameContinued',
                notContinued: item.tripType === 'notContinued'
              }"
              [ngStyle]="{
              marginTop: item.line === 'straight' ? '0' : '-136px',
            }"
              *ngIf="tripsArr.length === 1 || i === tripsArr.length - 1"
            >
              {{ item.destination.sub }}
            </div>
          </div>
        </div>

        <!-- <div class="end-point"><i class="bi bi-circle"></i></div> -->
        <!-- <div class="completed-point"><i class="bi bi-circle-fill"></i></div> -->
      </div>
    </div>
  </div>
</section>
