<section>
  <div class="container-fluid">
    <div class="bg-light p-2">
      <h1 class="text-center p-2">Trips</h1>
      <div
        class="alert alert-warning alert-dismissible fade show"
        role="alert"
        *ngIf="showMessage"
      >
        <strong>Sorry!</strong> Please enter Starting and Ending points below.
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <div class="form-group" [formGroup]="tripForm">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-4 col-md-6 col-xl-2">
            <label for="">Starting Point</label>
            <input
              type="text"
              class="form-control"
              placeholder="Please enter starting point"
              formControlName="start_point"
            />
          </div>
          <div class="col-lg-4 col-md-6 col-xl-2">
            <label for="">Ending Point</label>
            <input
              type="text"
              class="form-control"
              placeholder="Please enter ending point"
              formControlName="end_point"
            />
          </div>
          <div class="col-lg-2 col-md-12 col-xl-1">
            <button
              class="btn btn-primary mt-4 d-block"
              type="button"
              (click)="addTrip(tripForm.value)"
            >
              Add Trip
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="trip-box d-flex p-4 justify-content-center">
      <div
        *ngFor="let item of tripsArr; let i = index"
        class="d-flex align-items-center trip"
      >
        <div class="origin">
          <div class="start-point">
            <!-- DOT -->
            <i
              class="bi bi-circle-fill start"
              [ngClass]="{
                initial: item.tripType === 'initial',
                continued: item.tripType === 'continued',
                sameContinued: item.tripType === 'sameContinued',
                notContinued: item.tripType === 'notContinued'
              }"
              style="font-size: 18px"
            ></i>
            <!-- LINE -->
            <div
              [ngClass]="{
                initial: item.tripType === 'initial',
                continued: item.tripType === 'continued',
                sameContinued: item.tripType === 'sameContinued',
                notContinued: item.tripType === 'notContinued',
                initialLine: item.tripType === 'initial',
                continuedLine: item.tripType === 'continued',
                sameContinuedLine: item.tripType === 'sameContinued',

                notContinuedLine: item.tripType === 'notContinued',
              }"
            ></div>
            <!-- DOT -->
            <i
              class="bi bi-circle start"
              [ngClass]="{
                initial: item.tripType === 'initial',
                continued: item.tripType === 'continued',
                sameContinued: item.tripType === 'sameContinued',
                notContinued: item.tripType === 'notContinued'
              }"
              [ngStyle]="{
                display: item.tripType === 'continued' ? 'none' : ''
              }"
              style="font-size: 18px"
            ></i>
            <!-- ARROW -->
            <i
              *ngIf="item.tripType === 'continued'"
              class="bi bi-caret-right-fill arrow"
              [ngClass]="{
              continued: item.tripType === 'continued',
            }"
            ></i>
          </div>
          <span
            class="origin-text"
            [ngClass]="{
              initial: item.tripType === 'initial',
              continued: item.tripType === 'continued',
              sameContinued: item.tripType === 'sameContinued',
              notContinued: item.tripType === 'notContinued'
            }"
            >{{ item.origin.sub }} - {{ item.destination.sub }}</span
          >
          <span
            class="destination-text"
            [ngClass]="{
              initial: item.tripType === 'initial',
              continued: item.tripType === 'continued',
              sameContinued: item.tripType === 'sameContinued',
              notContinued: item.tripType === 'notContinued'
            }"
            *ngIf="tripsArr.length === 1 || i === tripsArr.length - 1"
            >{{ item.destination.sub }}</span
          >
        </div>

        <!-- <div class="end-point"><i class="bi bi-circle"></i></div> -->
        <!-- <div class="completed-point"><i class="bi bi-circle-fill"></i></div> -->
      </div>
    </div>
  </div>
  <div
    class="toast align-items-center text-bg-primary border-0"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="d-flex">
      <div class="toast-body">Hello, world! This is a toast message.</div>
      <button
        type="button"
        class="btn-close btn-close-white me-2 m-auto"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
  </div>
</section>
